# ðŸ§ª 01 - Data Exploration

This notebook helps you explore the structure and content of the raw Aave transaction dataset (`user_transactions.json`).

We'll:
- Load a sample from the raw JSON
- Explore the schema and transaction types
- Analyze wallet activity
- Plot transaction trends and statistics

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from collections import Counter
import json
sns.set_theme(style="whitegrid")

In [ ]:
raw_path = "data\raw\user_transactions.json"

with open(raw_path, 'r') as f:
    data = json.load(f)
print(f"Loaded {len(data):,} lines.")

Loaded 100,000 lines.

In [3]:
# Convert each line into a dictionary (JSON object)
df = pd.DataFrame(data[:10000])
df.head()

,_id,userWallet,network,protocol,txHash,logId,timestamp,blockNumber,action,actionData,__v,createdAt,updatedAt
0,{'$oid': '681d38fed63812d4655f571a'},0x00000000001accfa9cef68cf5371a23025b6d4b6,polygon,aave_v2,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,0x695c69acf608fbf5d38e48ca5535e118cc213a89e3d6...,1629178166,1629178166,deposit,"{'type': 'Deposit', 'amount': '2000000000', 'a...",0,{'$date': '2025-05-08T23:06:39.465Z'},{'$date': '2025-05-08T23:06:39.465Z'}
1,{'$oid': '681aa70dd6df53021cc6f3c0'},0x000000000051d07a4fb3bd10121a343d85818da6,polygon,aave_v2,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,0xe6fc162c86b2928b0ba9b82bda672763665152b9de9d...,1621525013,1621525013,deposit,"{'type': 'Deposit', 'amount': '145000000000000...",0,{'$date': '2025-05-07T00:19:26.159Z'},{'$date': '2025-05-07T00:19:26.159Z'}
2,{'$oid': '681d04c2d63812d4654c733e'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,0xe2d7eb815c89331a734ed6f204a06c385a1b39040baa...,1627118913,1627118913,deposit,"{'type': 'Deposit', 'amount': '100000000000000...",0,{'$date': '2025-05-08T19:23:47.877Z'},{'$date': '2025-05-08T19:23:47.877Z'}
3,{'$oid': '681d133bd63812d46551b6ef'},0x000000000096026fb41fc39f9875d164bd82e2dc,polygon,aave_v2,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,0x0d63a2eacd82b82f868db825ea7385e6bd8d046ee729...,1627773318,1627773318,deposit,"{'type': 'Deposit', 'amount': '400000000000000...",0,{'$date': '2025-05-08T20:25:33.141Z'},{'$date': '2025-05-08T20:25:33.141Z'}
4,{'$oid': '681899e4ba49fc91cf2f4454'},0x0000000000e189dd664b9ab08a33c4839953852c,polygon,aave_v2,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,0x590eabb812c5006a6f4766f44e6e9d3ad0b5b563de69...,1618845907,1618845907,redeemunderlying,"{'type': 'RedeemUnderlying', 'amount': '501548...",0,{'$date': '2025-05-05T10:58:45.934Z'},{'$date': '2025-05-05T10:58:45.934Z'}

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          10000 non-null  object
 1   userWallet   10000 non-null  object
 2   network      10000 non-null  object
 3   protocol     10000 non-null  object
 4   txHash       10000 non-null  object
 5   logId        10000 non-null  object
 6   timestamp    10000 non-null  int64
 7   blockNumber  10000 non-null  int64
 8   action       10000 non-null  object
 9   actionData   10000 non-null  object
 10  __v          10000 non-null  int64
 11  createdAt    10000 non-null  object
 12  updatedAt    10000 non-null  object
dtypes: int64(3), object(10)
memory usage: 1015.8+ KB

In [5]:
# Get top active type
df['action'].value_counts()

action
deposit             4373
borrow              2054
redeemunderlying    1968
repay               1592
liquidationcall       13
Name: count, dtype: int64

In [6]:
# Get no of unique userWallets
user_wallets = [record.get('userWallet') for record in data if 'userWallet' in record]

# Create a DataFrame from the userWallets
df = pd.DataFrame(user_wallets, columns=['userWallet'])

# Count unique userWallets
unique_wallet_count = df['userWallet'].nunique()

print(f"Unique userWallet count: {unique_wallet_count:,}")

Unique userWallet count: 3,497

In [7]:
# Get top 5 most active wallets
top_wallets = df['userWallet'].value_counts().head()
top_wallets

userWallet
0x05c9db563db8e38cc2899297da41ce430b61a484    14265
0x0298b2ecdef68bc139b098461217a5b3161b69c8     1227
0x04d9f6ecd792e48a09fa5dc2138baed8e628a7e5     1089
0x047a96ef72d7ee6a3f193bdb92e998fb300265df      820
0x005f16f017aa933bb41965b52848ceb8ee48b171      767
Name: count, dtype: int64

In [8]:
# Transactions for the most active wallet
# find the most active wallet
most_active_wallet = df['userWallet'].value_counts().idxmax()
print(f"Most active wallet: {most_active_wallet}")
# filter the DataFrame for this wallet
wallet_df = df[df['userWallet'] == most_active_wallet]
print(f"Total transactions for this wallet: {len(wallet_df):,}")

Most active wallet: 0x05c9db563db8e38cc2899297da41ce430b61a484
Total transactions for this wallet: 14,265